<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../juicy-html/juicy-html.html">

<!--
`hax-blox`
A LRN element for managing layout systems and templates.

@demo demo/index.html

@microcopy - the mental model for this element
 - blox - cute way of writing block. These are our building blocks of layout panel / area. Can be used anywhere,
   make the most sense in HAX based systems for now.
 - juicy-html - name of the template restamping system. This allows us to stamp template partials into the DOM and
   evaluate them. We used that repo so gotta stick with the silly name.
 - slot-pen - a holding pen for slots. This enables the parent to pass down elements to the right places
   which then only show up if a layout implements them.
 - layout - a layout relates to a file in the layouts directory of this project
-->

<dom-module id="hax-blox">
  <template>
    <style>
      :host {
        display: block;
      }
      #slot-pen {
        display: none;
      }
    </style>
    <div id="template-container">
      <template id="import" is="juicy-html" href="[[importFile]]"></template>
    </div>

    <div id="slot-pen">
      <slot name="area1"></slot>
      <slot name="area2"></slot>
      <slot name="area3"></slot>
      <slot name="area4"></slot>
      <slot name="area5"></slot>
      <slot name="area6"></slot>
    </div>
    <div id="wrapper">
      <slot></slot>
    </div>
  </template>
  <script>
    Polymer({
      is: 'hax-blox',
      listeners: {
        'import.stamped': '_restamp',
      },
      properties: {
        /**
         * Layout to render. This expects to import an associated template.
         */
        layout: {
          type: String,
          value: 'cols-50',
          reflectToAttribute: true,
        },
        /**
         * Variation on location for templates; useful for customization.
         */
        basePath: {
          type: String,
          value: null,
        },
        /**
         * Imported file path.
         */
        importFile: {
          type: String,
          computed: '_calcImportFile(layout, basePath)',
        }
      },
      /**
       * Calculate the path to the imported file.
       */
      _calcImportFile: function(layout, basePath) {
        let path = 'layouts/' + layout + '.html';
        // support custom paths, useful for loading off of backends
        if (typeof basePath !== typeof null) {
          return basePath + path;
        }
        return this.resolveUrl(path);
      },
      /**
       * Simple HTML Calculation based on effective children.
       */
      _restamp: function(e) {
        for(var i = 0, l = 6; i < l; ++i){
          let slotted = this.getContentChildren("[name='area" + i + "']");
          for(var j = 0, k = slotted.length; j < k; ++j){
            let area = this.$$('#area' + i);
            if (area != null) {
              this.$$('#area' + i).appendChild(slotted[j]);
            }
          }
        }
      },
    });
  </script>
</dom-module>
